<html lang="en" ng-app="DatvietApp" id="top">
  <head>
    <title>AngularUI Dashboard for Datviet</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="" rel="stylesheet" />

    <!-- JS Files -->
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/kaltura/ox.ajast.js"></script>
    <script type="text/javascript" src="/kaltura/webtoolkit.md5.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaClientBase.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaTypes.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaVO.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaServices.js"></script>
    <script type="text/javascript" src="/kaltura/KalturaClient.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/dashboard/dashboard_list.js"></script>
    <script type="text/javascript" src="bower_components/ng-table/dist/ng-table.min.js"></script>
  </head>
  <body>

    <div class='aligncenter headingfont margin25'>
      <label> List of Assets uploaded on Kaltura Server<label>
    </div>
    <div class='aligncenter margin25'> 
      <table>
        <thead>
          <tr>
            <td>Thumbnail</td>
            <td>Media Type</td>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>Updated At</td>
            <td>User Id</td>
            <td>Download</td>
          </tr>
        </thead>
        <tbody>
          <% @list.objects.each do |list| %>
            <tr>
              <td><img class='thumbnail' src="<%= list.thumbnail_url %>" /></td>
              <td><%= (list.media_type.eql? @media_type_video) ? 'Video' : 'other' %></td>
              <td><%= list.id %></td>
              <td><%= list.name %></td>
              <td><%= list.description %></td>
              <td><%= Time.at(list.updated_at).to_datetime%></td>
              <td><%= list.user_id %></td>
              <td><a href="<%= list.download_url %>" target="_blank">Download</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <div id='dashboard-list' ng-controller="dashboardListCtrl" class="container-fluid">
      <div class="row-fluid dashborad-list">
        <div>
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h5 class="modal-title">{{selected.name}}</h5>
                </div>
                <div class="modal-body" ng-init="append_data()">
                  <template src="https://cdnapisec.kaltura.com/p/1988382/sp/198838200/embedIframeJs/uiconf_id/30743062/partner_id/1988382?autoembed=true&entry_id=0_9fyuc4qh&playerId=kaltura_player_1439986332&cache_st=1439986332&width=400&height=333&flashvars[streamerType]=auto"></template>
                </div>
            </script>
        </div>

        <table ng-table class="table table-responsive table-striped table-bordered">
          <tr ng-repeat="selected_asset in assets">
            <td data-title="'Entry Id'" header-title="'Foo'"><a href="" ng-click="play_asset(selected_asset)">{{selected_asset.entry_id}}</a></td>
            <td data-title="'Name'" header-title="'Bar'">{{selected_asset.name}}</td>
            <td data-title="'Type'" header-title="'Bar'">{{selected_asset.type}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class='aligncenter headingfont margin25'>
      <label> List of Videos uploaded on Kaltura Server<label>
    </div>

    <div id='dashboard-list' ng-controller="dashboardListCtrl" class="container-fluid aligncenter margin25">


      <script src="https://cdnapisec.kaltura.com/p/1988382/sp/198838200/embedIframeJs/uiconf_id/30743062/partner_id/1988382?autoembed=true&entry_id=0_jjlr29cg&playerId=kaltura_player_1440132371&cache_st=1440132371&width=400&height=333&flashvars[streamerType]=auto"></script>

      <script src="https://cdnapisec.kaltura.com/p/1988382/sp/198838200/embedIframeJs/uiconf_id/30743062/partner_id/1988382?autoembed=true&entry_id=0_9fyuc4qh&playerId=kaltura_player_1439986332&cache_st=1439986332&width=400&height=333&flashvars[streamerType]=auto"></script>


      <script src="https://cdnapisec.kaltura.com/p/1988382/sp/198838200/embedIframeJs/uiconf_id/30743062/partner_id/1988382?autoembed=true&entry_id=0_6nc0394y&playerId=kaltura_player_1439986936&cache_st=1439986936&width=400&height=333&flashvars[streamerType]=auto"></script>

      <script src="https://cdnapisec.kaltura.com/p/1988382/sp/198838200/embedIframeJs/uiconf_id/30743062/partner_id/1988382?autoembed=true&entry_id=0_knzzel05&playerId=kaltura_player_1439986974&cache_st=1439986974&width=400&height=333&flashvars[streamerType]=auto"></script>
    </div> 
  </body>
</html>